pip install -r requirements.txt && curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | sh && ./bin/arduino-cli core update-index && ./bin/arduino-cli core install arduino:avr
